/***** CSS placed here will be applied to all skins on the entire site. *****/

.mdw-hidden {
    display: none !important; 
}

.mdw-button {
    padding: 2px 10px;
    border: solid #707070 1px;
    /*font-family: caption;*/
    font-size: 14px;
    background: grey;
    display: inline;
    border-radius: 2px;
    background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0, #F2F2F2), color-stop(1, #CFCFCF));
    background-image: -o-linear-gradient(bottom, #F2F2F2 0%, #CFCFCF 100%);
    background-image: -moz-linear-gradient(bottom, #F2F2F2 0%, #CFCFCF 100%);
    background-image: -webkit-linear-gradient(bottom, #F2F2F2 0%, #CFCFCF 100%);
    background-image: -ms-linear-gradient(bottom, #F2F2F2 0%, #CFCFCF 100%);
    background-image: linear-gradient(to bottom, #F2F2F2 0%, #CFCFCF 100%);
    /*cursor: default;*/
    text-align: center;
    font-weight: normal;
}

.mdw-button:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EAF6FD), color-stop(1, #A7D8F5));
    background-image: -o-linear-gradient(bottom, #EAF6FD 0%, #A7D8F5 100%);
    background-image: -moz-linear-gradient(bottom, #EAF6FD 0%, #A7D8F5 100%);
    background-image: -webkit-linear-gradient(bottom, #EAF6FD 0%, #A7D8F5 100%);
    background-image: -ms-linear-gradient(bottom, #EAF6FD 0%, #A7D8F5 100%);
    background-image: linear-gradient(to bottom, #EAF6FD 0%, #A7D8F5 100%);
    border: #3c7fb1 solid 1px;
    cursor: pointer;
}

.mdw-button:active {
    border: solid #2c628b 1px;
    padding: 2px 9px 2px 11px;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E5F4FC),color-stop(0.5, #C4E5F6), color-stop(0.51, #98D0EF), color-stop(1, #68B3DB));
    background-image: -o-linear-gradient(bottom, #E5F4FC 0%, #C4E5F6 50%, #98D0EF 51%, #68B3DB 100%);
    background-image: -moz-linear-gradient(bottom, #E5F4FC 0%, #C4E5F6 50%, #98D0EF 51%, #68B3DB 100%);
    background-image: -webkit-linear-gradient(bottom, #E5F4FC 0%, #C4E5F6 50%, #98D0EF 51%, #68B3DB 100%);
    background-image: -ms-linear-gradient(bottom, #E5F4FC 0%, #C4E5F6 50%, #98D0EF 51%, #68B3DB 100%);
    background-image: linear-gradient(to bottom, #E5F4FC 0%, #C4E5F6 50%, #98D0EF 51%, #68B3DB 100%);
}

.mdw-card-box {
    margin: 0 10px 10px 10px;
    border: solid 1px;
    box-shadow: 0 0 10px #808080;
    padding: 10px;
    background-color: #F5F5F5;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.mdw-card-hover {
    height: 311px;
    width: 223px;
    position: absolute;
    display: none;
    z-index: 1000;
}

.mdw-highlight {
    font-weight: bold;
}

.mdw-chart-box-button {
    position: absolute;
    right: 15px;
    line-height: 80%;
}

.mdw-chart-container {
    height:275px;
    padding-right:0;
    margin-top: 15px;
}

.mdw-chart-box {
    border: solid 1px;
    border-radius: 10px;
    margin: 0 10px 10px 10px;
    box-shadow: 0 0 10px #808080;
    background-color: #e6e6e6;
}

.mdw-chart-box-small {
    width: 47%;
    float: left;
    height: 260px;
}

.mdw-chart-box-right {
    position: absolute;
    right: 0;
}

.mdw-chart-box-padding {
    padding: 10px;
}

.mdw-chart-header {
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 0px;
    background: white;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mdw-link {
     cursor: pointer;
     color: blue;
     text-decoration: underline;
}

.mdw-link:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #555;
}

.mdw-table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}
 
.mdw-table th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
}

.mdw-table th:first-child
{
    text-align:left;
    width: 83px;
}
 
.mdw-table td
{
    color: #669;
}

.mdw-table td:first-child
{
    text-align: left;
    width: 83px;
}

.mdw-reprint
{
    margin:0 auto;
    padding:20px;
    border-radius:3ex;
    border:2px solid;
}

/* Deck Ratings */
.mdw-rating {
     /*background: url("https://vignette.wikia.nocookie.net/magicarena/images/6/64/RatingsInactivated.png/revision/latest?cb=20180308213046") no-repeat scroll 0 0 transparent;*/
     background: url("/images/RatingsInactivated.png") no-repeat scroll 0 0 transparent;
     height: 25px;
     width: 20px;
     float: left;
     cursor: pointer;
     font-weight: bold;
}

.mdw-rating-score {
     /*background: url("https://vignette.wikia.nocookie.net/magicarena/images/6/64/RatingsInactivated.png/revision/latest?cb=20180308213046") no-repeat scroll 0 0 transparent;*/
     background: url("/images/RatingsInactivated.png") no-repeat scroll 0 0 transparent;
     height: 25px;
     width: 20px;
     float: left;
}
 
.mdw-rating-active {
     /*background: url("https://vignette.wikia.nocookie.net/magicarena/images/9/96/RatingsActivated.png/revision/latest?cb=20180308213030") no-repeat scroll 0 0 transparent;*/
     background: url("/images/RatingsActivated.png") no-repeat scroll 0 0 transparent;
     height: 25px;
     width: 20px;
     float: left;
}

.mdw-ratings-box {
    margin:1em 0 1em 1em;
    border:3px solid #A4A4A4;
    font-size: 85%;
    box-shadow: 0px 7px 7px;
    border-radius:15px;
    padding:0 10px 10px 10px;
}
/* end Deck Ratings */

#mdw-random-hand {
    padding-top:5px;
}

.mdw-export-alternatives-column {
    float:left;
    width: 50%;
}

#mdw-import-rarity {
    margin-bottom: 0px;
    width: 50%;
    border: solid 1px;
    border-radius:10px;
    box-shadow: 0 0 10px #808080;
    padding:10px;
    background-color: white;
}

#mdw-arena-export-alt-div p {
    margin-bottom: 10px;
    margin-top: 10px;
}

.mdw-rarity-value {
    font-weight: bold;
}

.mdw-import-right-top {
    margin-top: 24px;
    margin-bottom: 10px;
}

#mdw-import-reset {
    margin-left: 5px;
}

#mdw-rarity-table {
    border-collapse: collapse;
    font: normal 12px Arial, Helvetica, sans-serif;
    width: 240px;
}

#mdw-rarity-table th {
    font-weight: normal;
    font-size: small;
    padding: 2px 8px 2px 8px;
    background: #1E5FC7;
    color: #FFFFFF;
}

#mdw-rarity-table th:first-child {
    background: transparent;
}

#mdw-rarity-table td {
    font-weight: normal;
    font-size: small;
    text-align: center;
    padding: 0;
    border: none;
    background: #FFFFFF;
}

#mdw-rarity-table td:first-child {
    text-align: left;
    font-size: small;
    padding: 2px 8px 2px 8px;
    background: #1E5FC7;
    color: #FFFFFF;
    white-space: nowrap;
}

/* start decklists */
.mdw-decklist {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    /*border: 1px solid #006699;*/
    border-radius: 3px;
}
.mdw-decklist td, .mdw-decklist th {
     padding: 3px 10px;
}

.mdw-decklist th {
    background: linear-gradient(to bottom, #174A9A, #1E5FC7, #cce6ff);
    color:#FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #0070A8;
}
 .mdw-decklist th:first-child {
     border-left: none;
     border-right: none;
}
.mdw-decklist td {
    color: #00557F;
    border-left: 1px solid #E1EEF4;
    border-bottom: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal;
}

.mdw-decklist td:first-child {
     border-left: none;
}

.mdw-decklist th:first-child {
     border-left: none;
}
/* end decklists */

/* card page */
.mdw-cardinfo-table {
    float:right;
    width: 60%;
    text-align: left;
    background: #fff;
    overflow: hidden;
    border-radius: 3px;
}

.mdw-cardinfo-table th {
    background-color: #1E5FC7;
    color:#FFFFFF;
    font-size: 14px;
}

.mdw-cardrulings-table td:first-child {
    white-space: nowrap;
    font-size: 12px;
}
/* end card page */

/* toc */
#toctitle {
    background-color: #1E5FC7;
    border-radius: 5px;
    color: #FFFFFF;
}

.toctoggle a {
    color: #FFFFFF;
}
/* end toc */

/* card list filters */
.mdw-cardlist-filter {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border-radius: 3px;
    margin-top: 0;
}
.mdw-cardlist-filter td, .mdw-cardlist-filter th {
     padding: 3px 10px;
}
.mdw-cardlist-filter th {
    background-color: #1E5FC7;
    color:#FFFFFF;
    font-size: 12px;
}
.mdw-cardlist-filter th.mdw-filter-continued {
    border-bottom: none;
}
 .mdw-cardlist-filter th:first-child {
     border-left: none;
     border-right: none;
}
.mdw-cardlist-filter td {
    color: #00557F;
    border-bottom: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal;
}
.mdw-cardlist-filter td:first-child {
     border-left: none;
}
.mdw-cardlist-filter th:first-child {
     border-left: none;
}
.mdw-cardlist-filter .selflink {
    background-color: #00557F;
    color: #FFFFFF;
    padding: 3px 6px 3px 6px;
    font-weight: normal;
    white-space: nowrap;
    border-radius: 3px;
}
/* card list filters */

