html,
body {
    background: #343434;
}

h1 {
    color: #3C74B2;
}

hr {
    border-color: #7A7A7A;
}

.linklist li {
    margin-bottom: 10px;
    font-family: consolas;
    color: #7A7A7A;
    list-style-type: square;
}

.linklist a:link {
    text-decoration: none;
}

.linklist a:hover {
    font-weight: bold;
    color: #79B6F5;
}

.linklist a:active {
    font-weight: bold;
    color: #79B6F5;
}

.card {
    background:#303030;
    border-radius: 20px;
}

.card-title {
    color: #3C74B2;
}

.card-body {
    padding-top: 5px;
}

.row-top {
    margin-top: 20px;
}